@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  background: url("/noise.svg") repeat;
  opacity: 0.2;
}

.custom-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
}

.custom-underline:hover::after {
    opacity: 1;
}


@keyframes draw-stroke {
  from {
    stroke-dasharray: var(--path-length);
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dasharray: var(--path-length);
    stroke-dashoffset: 0;
  }
}

/* Business card slide */
.card {
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(0);
}

.card--open {
  transform: translateY(50px); /* slide down */
}

/* Hand animation */
.hand {
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-300px);
}

.hand--open {
  transform: translateY(-50px); /* closer to the card */
}

html {
  overflow-x: hidden;
}
